<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- Brand Icon -->
    <a class="navbar__brand navbar-brand" href="#">
      <img src="assets/images/web/common/programming.svg" alt="Icon about programming" width="30" height="24"/>
      <span class="p-1">SDJR2</span>
    </a>
    <!-- Toogler Button -->
    <button type="button"
      class="navbar__btn-toggler navbar-toggler"
      data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Nav -->
    <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
      <!-- Nav Pages -->
      <ul class="navbar-nav">
        <ng-container *ngFor="let item of items; index as i">
          <li class="nav-item">
            <ng-container *ngIf="item.isBasePage; else normalLink">
              <a class="nav-link active" aria-current="page"
                [routerLink]="item.routerLink" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
                {{ item.name }}
              </a>
            </ng-container>
            <ng-template #normalLink>
              <a class="nav-link active"
                [routerLink]="item.routerLink" [routerLinkActive]="'active'">
                {{ item.name }}
              </a>
            </ng-template>
          </li>
        </ng-container>
      </ul>
      <!-- Nav Links -->
      <sdjr2--web-header-links-shared></sdjr2--web-header-links-shared>
    </div>
  </div>
</nav>
