<ul class="footer__navbar navbar-nav">
  <li class="footer__navitem nav-item">
    <a
      class="footer__navlink nav-link"
      href="https://twitter.com/JacintoR2"
      target="_blank"
    >
      <i class="bi bi-twitter-x"></i>
    </a>
  </li>
  <li class="footer__navitem nav-item">
    <a
      class="footer__navlink nav-link"
      href="https://www.linkedin.com/in/jacinto-rold%C3%A1n-rodr%C3%ADguez-06026589/"
      target="_blank"
    >
      <i class="bi bi-linkedin"></i>
    </a>
  </li>
  <li class="footer__navitem nav-item">
    <a
      class="footer__navlink nav-link"
      href="https://github.com/JacintoRR396"
      target="_blank"
    >
      <i class="bi bi-github"></i>
    </a>
  </li>
</ul>
