<!--Main Navigation-->
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="sidebar d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <header class="sidebar-header w-100 text-center p-3">
          <span class="sidebar-header__text p-1">ADMINISTRATION</span>
        </header>
        <nav class="sidebar-nav">
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <!--
            <li class="nav-item">
                <a href="#" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                </a>
            </li>
            -->

            <li>
              <a href="#submenuProfile" data-bs-toggle="collapse" class="px-0 align-middle">
                <i class="bi bi-person-circle"></i>
                <span class="ms-1 d-none d-sm-inline">Profile</span>
              </a>
              <ul class="collapse show nav flex-column ms-1" id="submenuProfile" data-bs-parent="#menu">
                <ng-container *ngFor="let itemProfile of linksMenuProfile; index as i">
                  <li class="w-100">
                    <a class="nav-link px-0" [routerLink]="itemProfile.href">
                      <i class="bi {{ itemProfile.icon }}"></i>
                      <span class="d-none d-sm-inline">{{ itemProfile.name }}</span>
                    </a>
                  </li>
                </ng-container>
              </ul>
            </li>
          </ul>
        </nav>
        <footer class="sidebar-footer">
          <ng-container *ngIf="(user | async) as user">
            <div class="dropdown pb-4">
              <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{{ user.urlIcon }}" alt="Icon about user" width="30" height="30" class="rounded-circle">
                  <span class="d-none d-sm-inline mx-1">{{ user.username }}</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                  <li><a class="dropdown-item" href="#">New project...</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li>
                      <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
          </ng-container>
        </footer>
      </div>
    </div>
  </div>
</div>
