.sctn-register {
  &__terms {
    margin: 0 0 0 0.5rem;
    &-val, &-lbl {
      cursor: pointer;
    }
    &-lbl {
      padding-left: 0.25rem;
    }
  }
  &__btns {
    gap: 1rem;
  }
  &__login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.9rem;
    &-txt {
      vertical-align: text-top;
    }
  }
}
