<div class="sctn-image col d-flex">
  <sdjr2--app-bs-img-lazy class="sctn-image__lazy-img"
    [imgLazyConfig]="imgLazyBackgorundConfig" />
</div>

<div class="sctn-register col">
  <h2 class="sctn-register__title">Sign up</h2>
  <hr class="border-bottom border-2 border-dark">

  <form class="sctn-register__form" [formGroup]="fgRegister">
    <sdjr2--app-bs-form-input class="sctn-register__username"
      [fg]="fgRegister" [fcConfig]="fcUsernameConfig" />
    <sdjr2--app-bs-form-input class="sctn-register__email"
      [fg]="fgRegister" [fcConfig]="fcEmailConfig" />
    <sdjr2--app-bs-form-input class="sctn-register__pwd"
      [fg]="fgRegister" [fcConfig]="fcPasswordConfig" />
    <sdjr2--app-bs-form-input class="sctn-register__pwd-verify mb-3"
      [fg]="fgRegister" [fcConfig]="fcPasswordVerifyConfig" />
    <div class="my-3">
      <sdjr2--app-bs-form-input class="sctn-register__terms"
        [fg]="fgRegister" [fcConfig]="fcTermsOfServiceConfig" />
    </div>

    <div class="sctn-register__btns d-flex">
      <sdjr2--app-bs-btn class="sctn-register__btns-main"
        [btnConfig]="btnRegisterConfig" [btnConfigStyle]="btnRegisterConfigStyle"
        [isSpinnerActive]="isSpinnerActiveBtnRegister"
        (evtEmitterClick)="onRegister()" />
      <sdjr2--app-bs-btn class="sctn-register__btns-reset"
        [btnConfig]="btnResetConfig" [btnConfigStyle]="btnResetConfigStyle"
        (evtEmitterClick)="onReset()" />
    </div>
  </form>

  <div class="sctn-register__login mt-3">
    <span class="sctn-register__login-txt">Have already an account?</span>
    <sdjr2--app-bs-btn class="sctn-register__login-btn"
      [btnConfig]="btnLoginConfig" [btnConfigStyle]="btnLoginConfigStyle" />
  </div>
</div>
