:host {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.sctn-image {
  width: 100%;
}
.sctn-register {
  padding: 0.5rem;
  &__title {
    text-align: center;
  }
  &__terms {
    min-width: 20rem;
  }
  &__btns {
    gap: 1rem;
  }
  &__login {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    font-size: 0.9rem;
    &-txt {
      vertical-align: text-top;
    }
  }
}
