<div class="d-flex justify-content-center bg-dark">
  <img
    class="card-img-top animate__animated animate__fadeIn"
    src="{{ lazyImage.path }}"
    alt="{{ lazyImage.alt }}"
    [ngStyle]="{ display: hasLoaded ? '' : 'none' }"
    (load)="onLoad()"
  />
  <ng-container *ngIf="!hasLoaded">
    <img
      class="mt-2 mb-1"
      height="{{ lazyImage.configLoader?.size }}"
      width="{{ lazyImage.configLoader?.size }}"
      src="{{ lazyImage.configLoader?.type! | pathLoaderLazyImage }}"
      alt="Loader not available"
    />
  </ng-container>
</div>
