/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

.full-height-page {
    height: 95%;
    min-height: 95vh;
    min-width: 180px;
}

.pointer {
    cursor: pointer;
}

.user-select-none {
    user-select: none;
}